{% extends 'layout.html' %}
{% block header %}
    <title>Turnos :: Editar</title>
{% endblock  %}

{% block body %}
    {% if perms.turnos.change_turno %}

        <h1>Editar  Turno</h1>

        <form action="" method="POST">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="Guardar Modificación">
        </form>

        {% if mensaje  %}
        <div>{{ mensaje }}</div>
        {% endif %}
    {% endif %}
    <a href="{% url 'turnos:index' %}">Ver turnos</a>
   
{% endblock  %}