{% extends 'layout.html' %}
{% block header %}
    <title>Usuarios Secretaria:: Bienvenido</title>
{% endblock  %}

{% block body %}

    <nav>
        <ul>
            <li><a href="{% url 'turnos:index' %}">Turnos</a></li>
            <li><a href="{% url 'usuarios:logout' %}">Logout</a></li>
        </ul>
    </nav>

    <h1>Bienveda Secretaria</h1>    

    <ul>
        <li>Nombre: {{request.user.username }}</li>
        <li>Apellido: {{request.user.lastname }}</li>
        <li>Email: {{request.user.email }}</li>
    </ul>

{% endblock  %}