{% extends 'layout.html' %}
{% block header %}
    <title>Usuarios Médico: Bienvenido</title>
{% endblock  %}

{% block body %}
    <nav>
        <ul>
            <li><a href="#">Turnos</a></li>
            <li><a href="{% url 'usuarios:logout' %}">Logout</a></li>
        </ul>
    </nav>
    <h1>Bienvenido Médico</h1>    
    <ul>
        <li>Nombre: {{request.user.username }}</li>
        <li>Apellido: {{request.user.lastname }}</li>
        <li>Email: {{request.user.email }}</li>
    </ul>
{% endblock  %}